table{
background-image: url(img/423195663_386845687223114_1395920861923925257_n.jpg);

background-size: cover;
background-repeat: no-repeat;
width: 1080px;

}
.content{
  display: flex;
  /* justify-content: space-around; */
 }
img {
  width: 160px;}

img:hover {
  border-radius: 50px;
  width: 170px;
  transition: 1s;}

th {
  text-align: center;
  padding: 8px;
  font-weight: bolder;
  background-color: antiquewhite;
  text-shadow: 1px 0px 2px green;}

th:hover {
  font-size: 23px;
  background-color: aqua;
  color: white;
  transition: 2s;}

td {
  text-align: center;
  padding: 5px;
}

td:hover {
  font-size: 20px;
  background-color: rgb(63, 109, 130);
  color: white;
  transition: 1s;}

  .kk img{
    width: 300px;
    margin-top: 100px;
  }